:root {
  --system-main-color: #050439;
  --system-main-color-fade: #0f1259ff;
  --system-secondary-color: #8dc66cff;
  --system-secondary-color-fade: #b8d997ff;
  --system-background-color: #bdc0c4;
  --system-white-color: #f1f1f1;
  --alert-color: #c6726cff;
  --success-color: var(--system-secondary-color);
  --top-navbar-div-height: 30px;
  --bottom-navbar-div-height: 50px;
  --navbar-height: calc(var(--top-navbar-div-height) + var(--bottom-navbar-div-height));
  --container-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--system-background-color);
  color: var(--system-white-color);
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-underline-offset: 0.2em;
  font-family: inherit;
}
body a {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
body button, body input, body text-area, body select {
  background-color: none;
  font-family: inherit;
  border: none;
}
body button:hover, body button:focus, body input:hover, body input:focus, body text-area:hover, body text-area:focus, body select:hover, body select:focus {
  outline: none;
}
body button {
  cursor: pointer;
}
body nav {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
}
body nav > div:first-child {
  background-color: var(--system-main-color);
  color: var(--system-white-color);
  text-align: center;
  height: var(--top-navbar-div-height);
}
body nav > div:first-child .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav > div:last-child {
  background-color: var(--system-white-color);
  height: var(--bottom-navbar-div-height);
}
body nav > div:last-child .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body nav > div:last-child #profile_picture {
  width: 45px;
  height: 45px;
  background-color: var(--system-secondary-color);
  border-radius: 50%;
  border: 3px solid var(--system-secondary-color);
  overflow: hidden;
}
body nav > div:last-child #profile_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body nav > div:last-child ul {
  display: flex;
  gap: 1em;
}
body nav > div:last-child ul li a {
  background-color: var(--system-main-color);
  padding: 0.5em;
  min-width: 100px;
  text-align: center;
  border-radius: 3px;
}
body nav > div:last-child ul li a:hover {
  background-color: var(--system-main-color-fade);
}
body nav > div:last-child ul li button {
  background-color: var(--system-main-color);
  padding: 0.5em;
  min-width: 100px;
  text-align: center;
  border-radius: 3px;
  color: var(--system-white-color);
  font-size: 1rem;
}
body #addGuardFormOverlay,
body #verifyGuardDeleteOverlay,
body #verifyPasswordResetOverlay,
body #overlayFeedback,
body #scannerOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
body #addGuardFormOverlay #dialog,
body #verifyGuardDeleteOverlay #dialog,
body #verifyPasswordResetOverlay #dialog,
body #overlayFeedback #dialog,
body #scannerOverlay #dialog {
  background-color: white;
  color: var(--system-main-color);
  font-size: 1.2rem;
  padding: 1em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  min-height: 100px;
}
body #addGuardFormOverlay #dialog.overlayFeedbackDialog,
body #verifyGuardDeleteOverlay #dialog.overlayFeedbackDialog,
body #verifyPasswordResetOverlay #dialog.overlayFeedbackDialog,
body #overlayFeedback #dialog.overlayFeedbackDialog,
body #scannerOverlay #dialog.overlayFeedbackDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--system-white-color);
}
body #addGuardFormOverlay #dialog.overlayFeedbackDialog.success,
body #verifyGuardDeleteOverlay #dialog.overlayFeedbackDialog.success,
body #verifyPasswordResetOverlay #dialog.overlayFeedbackDialog.success,
body #overlayFeedback #dialog.overlayFeedbackDialog.success,
body #scannerOverlay #dialog.overlayFeedbackDialog.success {
  opacity: 1;
  background-color: var(--system-secondary-color);
}
body #addGuardFormOverlay #dialog.overlayFeedbackDialog.failure,
body #verifyGuardDeleteOverlay #dialog.overlayFeedbackDialog.failure,
body #verifyPasswordResetOverlay #dialog.overlayFeedbackDialog.failure,
body #overlayFeedback #dialog.overlayFeedbackDialog.failure,
body #scannerOverlay #dialog.overlayFeedbackDialog.failure {
  opacity: 1;
  background-color: var(--alert-color);
}
body #addGuardFormOverlay #dialog #buttons,
body #verifyGuardDeleteOverlay #dialog #buttons,
body #verifyPasswordResetOverlay #dialog #buttons,
body #overlayFeedback #dialog #buttons,
body #scannerOverlay #dialog #buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body #addGuardFormOverlay #dialog .button,
body #verifyGuardDeleteOverlay #dialog .button,
body #verifyPasswordResetOverlay #dialog .button,
body #overlayFeedback #dialog .button,
body #scannerOverlay #dialog .button {
  width: 100%;
  padding: 1em 0;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}
body #addGuardFormOverlay #dialog #buttons .cancelBtn,
body #verifyGuardDeleteOverlay #dialog #buttons .cancelBtn,
body #verifyPasswordResetOverlay #dialog #buttons .cancelBtn,
body #overlayFeedback #dialog #buttons .cancelBtn,
body #scannerOverlay #dialog #buttons .cancelBtn {
  background-color: var(--system-secondary-color);
  color: var(--system-white-color);
  font-size: 1rem;
}
body #addGuardFormOverlay #dialog #buttons .cancelBtn:hover,
body #verifyGuardDeleteOverlay #dialog #buttons .cancelBtn:hover,
body #verifyPasswordResetOverlay #dialog #buttons .cancelBtn:hover,
body #overlayFeedback #dialog #buttons .cancelBtn:hover,
body #scannerOverlay #dialog #buttons .cancelBtn:hover {
  background-color: var(--system-secondary-color-fade);
  color: var(--system-white-color);
}
body #addGuardFormOverlay #dialog #buttons .actionBtn,
body #verifyGuardDeleteOverlay #dialog #buttons .actionBtn,
body #verifyPasswordResetOverlay #dialog #buttons .actionBtn,
body #overlayFeedback #dialog #buttons .actionBtn,
body #scannerOverlay #dialog #buttons .actionBtn {
  border: 2px solid var(--system-secondary-color);
  color: var(--system-secondary-color);
}
body #addGuardFormOverlay #dialog #buttons .actionBtn:hover,
body #verifyGuardDeleteOverlay #dialog #buttons .actionBtn:hover,
body #verifyPasswordResetOverlay #dialog #buttons .actionBtn:hover,
body #overlayFeedback #dialog #buttons .actionBtn:hover,
body #scannerOverlay #dialog #buttons .actionBtn:hover {
  background-color: var(--alert-color);
  color: var(--system-white-color);
  border-color: white;
}
body #addGuardFormOverlay form,
body #verifyGuardDeleteOverlay form,
body #verifyPasswordResetOverlay form,
body #overlayFeedback form,
body #scannerOverlay form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
}
body #addGuardFormOverlay form h1,
body #verifyGuardDeleteOverlay form h1,
body #verifyPasswordResetOverlay form h1,
body #overlayFeedback form h1,
body #scannerOverlay form h1 {
  margin-bottom: 1em;
  color: var(--system-main-color);
}
body #addGuardFormOverlay form #buttons,
body #verifyGuardDeleteOverlay form #buttons,
body #verifyPasswordResetOverlay form #buttons,
body #overlayFeedback form #buttons,
body #scannerOverlay form #buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body #addGuardFormOverlay form .button,
body #verifyGuardDeleteOverlay form .button,
body #verifyPasswordResetOverlay form .button,
body #overlayFeedback form .button,
body #scannerOverlay form .button {
  width: 100%;
  padding: 1em 0;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}
body #addGuardFormOverlay form #buttons .cancelBtn,
body #verifyGuardDeleteOverlay form #buttons .cancelBtn,
body #verifyPasswordResetOverlay form #buttons .cancelBtn,
body #overlayFeedback form #buttons .cancelBtn,
body #scannerOverlay form #buttons .cancelBtn {
  background-color: var(--system-secondary-color);
  color: var(--system-white-color);
  font-size: 1rem;
}
body #addGuardFormOverlay form #buttons .cancelBtn:hover,
body #verifyGuardDeleteOverlay form #buttons .cancelBtn:hover,
body #verifyPasswordResetOverlay form #buttons .cancelBtn:hover,
body #overlayFeedback form #buttons .cancelBtn:hover,
body #scannerOverlay form #buttons .cancelBtn:hover {
  background-color: var(--system-secondary-color-fade);
  color: var(--system-white-color);
}
body #addGuardFormOverlay form #buttons .actionBtn,
body #verifyGuardDeleteOverlay form #buttons .actionBtn,
body #verifyPasswordResetOverlay form #buttons .actionBtn,
body #overlayFeedback form #buttons .actionBtn,
body #scannerOverlay form #buttons .actionBtn {
  border: 2px solid var(--system-secondary-color);
  color: var(--system-secondary-color);
  background-color: transparent;
}
body #addGuardFormOverlay form #buttons .actionBtn:hover,
body #verifyGuardDeleteOverlay form #buttons .actionBtn:hover,
body #verifyPasswordResetOverlay form #buttons .actionBtn:hover,
body #overlayFeedback form #buttons .actionBtn:hover,
body #scannerOverlay form #buttons .actionBtn:hover {
  background-color: var(--alert-color);
  color: var(--system-white-color);
  border-color: white;
}
body #addGuardFormOverlay form #profile_image,
body #verifyGuardDeleteOverlay form #profile_image,
body #verifyPasswordResetOverlay form #profile_image,
body #overlayFeedback form #profile_image,
body #scannerOverlay form #profile_image {
  position: absolute;
  right: 20px;
  top: -20px;
  height: 90px;
  width: 90px;
  background-color: var(--system-main-color);
  background-color: rgb(180, 180, 180);
  border-radius: 50%;
  border: 5px solid var(--system-secondary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #addGuardFormOverlay form #profile_image img,
body #verifyGuardDeleteOverlay form #profile_image img,
body #verifyPasswordResetOverlay form #profile_image img,
body #overlayFeedback form #profile_image img,
body #scannerOverlay form #profile_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
body #addGuardFormOverlay form > div,
body #verifyGuardDeleteOverlay form > div,
body #verifyPasswordResetOverlay form > div,
body #overlayFeedback form > div,
body #scannerOverlay form > div {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  margin-bottom: 1em;
}
body #addGuardFormOverlay form > div label,
body #verifyGuardDeleteOverlay form > div label,
body #verifyPasswordResetOverlay form > div label,
body #overlayFeedback form > div label,
body #scannerOverlay form > div label {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(71, 71, 71);
}
body #addGuardFormOverlay form > div .info,
body #verifyGuardDeleteOverlay form > div .info,
body #verifyPasswordResetOverlay form > div .info,
body #overlayFeedback form > div .info,
body #scannerOverlay form > div .info {
  color: rgb(71, 71, 71);
  font-size: 0.8rem;
}
body #addGuardFormOverlay form > div .psd_gen,
body #verifyGuardDeleteOverlay form > div .psd_gen,
body #verifyPasswordResetOverlay form > div .psd_gen,
body #overlayFeedback form > div .psd_gen,
body #scannerOverlay form > div .psd_gen {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
body #addGuardFormOverlay form > div .psd_gen input,
body #verifyGuardDeleteOverlay form > div .psd_gen input,
body #verifyPasswordResetOverlay form > div .psd_gen input,
body #overlayFeedback form > div .psd_gen input,
body #scannerOverlay form > div .psd_gen input {
  width: 60%;
}
body #addGuardFormOverlay form > div .psd_gen button,
body #verifyGuardDeleteOverlay form > div .psd_gen button,
body #verifyPasswordResetOverlay form > div .psd_gen button,
body #overlayFeedback form > div .psd_gen button,
body #scannerOverlay form > div .psd_gen button {
  flex: 1;
}
body #addGuardFormOverlay form > div input,
body #verifyGuardDeleteOverlay form > div input,
body #verifyPasswordResetOverlay form > div input,
body #overlayFeedback form > div input,
body #scannerOverlay form > div input {
  font-size: 1.2rem;
  padding: 0.5em 0.3em;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}
body #addGuardFormOverlay form > div input:focus,
body #verifyGuardDeleteOverlay form > div input:focus,
body #verifyPasswordResetOverlay form > div input:focus,
body #overlayFeedback form > div input:focus,
body #scannerOverlay form > div input:focus {
  outline: 2px solid var(--system-secondary-color);
}
body #addGuardFormOverlay form > div button,
body #verifyGuardDeleteOverlay form > div button,
body #verifyPasswordResetOverlay form > div button,
body #overlayFeedback form > div button,
body #scannerOverlay form > div button {
  font-size: 1.2rem;
  padding: 0.6em 0.3em;
  background-color: var(--system-secondary-color);
  text-transform: uppercase;
  color: var(--system-white-color);
  border-radius: 5px;
}
body #addGuardFormOverlay form > div button:hover, body #addGuardFormOverlay form > div button:focus,
body #verifyGuardDeleteOverlay form > div button:hover,
body #verifyGuardDeleteOverlay form > div button:focus,
body #verifyPasswordResetOverlay form > div button:hover,
body #verifyPasswordResetOverlay form > div button:focus,
body #overlayFeedback form > div button:hover,
body #overlayFeedback form > div button:focus,
body #scannerOverlay form > div button:hover,
body #scannerOverlay form > div button:focus {
  background-color: var(--system-secondary-color-fade);
}
body #addGuardFormOverlay #scannerInfo,
body #verifyGuardDeleteOverlay #scannerInfo,
body #verifyPasswordResetOverlay #scannerInfo,
body #overlayFeedback #scannerInfo,
body #scannerOverlay #scannerInfo {
  width: 100%;
  max-width: 500px;
  min-height: 280px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin: 1em;
  padding: 1em;
}
body #addGuardFormOverlay #scannerInfo #scannerInput,
body #verifyGuardDeleteOverlay #scannerInfo #scannerInput,
body #verifyPasswordResetOverlay #scannerInfo #scannerInput,
body #overlayFeedback #scannerInfo #scannerInput,
body #scannerOverlay #scannerInfo #scannerInput {
  opacity: 0;
  position: absolute;
}
body #addGuardFormOverlay #scannerInfo #scannerProgress,
body #verifyGuardDeleteOverlay #scannerInfo #scannerProgress,
body #verifyPasswordResetOverlay #scannerInfo #scannerProgress,
body #overlayFeedback #scannerInfo #scannerProgress,
body #scannerOverlay #scannerInfo #scannerProgress {
  color: rgb(54, 54, 54);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body #addGuardFormOverlay #scannerInfo #scannerResults,
body #verifyGuardDeleteOverlay #scannerInfo #scannerResults,
body #verifyPasswordResetOverlay #scannerInfo #scannerResults,
body #overlayFeedback #scannerInfo #scannerResults,
body #scannerOverlay #scannerInfo #scannerResults {
  color: #363636;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;
}
body #addGuardFormOverlay #scannerInfo #scannerResults #studentImageContainer,
body #verifyGuardDeleteOverlay #scannerInfo #scannerResults #studentImageContainer,
body #verifyPasswordResetOverlay #scannerInfo #scannerResults #studentImageContainer,
body #overlayFeedback #scannerInfo #scannerResults #studentImageContainer,
body #scannerOverlay #scannerInfo #scannerResults #studentImageContainer {
  margin-bottom: 1em;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--system-secondary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #addGuardFormOverlay #scannerInfo #scannerResults #studentImageContainer img,
body #verifyGuardDeleteOverlay #scannerInfo #scannerResults #studentImageContainer img,
body #verifyPasswordResetOverlay #scannerInfo #scannerResults #studentImageContainer img,
body #overlayFeedback #scannerInfo #scannerResults #studentImageContainer img,
body #scannerOverlay #scannerInfo #scannerResults #studentImageContainer img {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
body #addGuardFormOverlay #scannerInfo #scannerResults table,
body #verifyGuardDeleteOverlay #scannerInfo #scannerResults table,
body #verifyPasswordResetOverlay #scannerInfo #scannerResults table,
body #overlayFeedback #scannerInfo #scannerResults table,
body #scannerOverlay #scannerInfo #scannerResults table {
  width: 100%;
  color: #363636;
}
body #addGuardFormOverlay #scannerInfo #scannerResults table td,
body #verifyGuardDeleteOverlay #scannerInfo #scannerResults table td,
body #verifyPasswordResetOverlay #scannerInfo #scannerResults table td,
body #overlayFeedback #scannerInfo #scannerResults table td,
body #scannerOverlay #scannerInfo #scannerResults table td {
  padding: 0.3em;
  width: 50%;
}
body #addGuardFormOverlay #scannerInfo #scannerResults table td.key,
body #verifyGuardDeleteOverlay #scannerInfo #scannerResults table td.key,
body #verifyPasswordResetOverlay #scannerInfo #scannerResults table td.key,
body #overlayFeedback #scannerInfo #scannerResults table td.key,
body #scannerOverlay #scannerInfo #scannerResults table td.key {
  font-weight: bold;
}
body #overlayFeedback {
  display: flex;
}
body main {
  height: 100%;
  padding-top: calc(var(--navbar-height) + 1.5em);
}
body .container {
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 0.5em;
}
body .hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body .hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

main#home {
  display: flex;
  --home-container-width: 700px;
  padding: 0;
}
main#home .divider {
  height: 100%;
}
main#home .divider:first-child {
  flex: 1;
  background-color: var(--system-background-color);
  display: flex;
  justify-content: end;
}
main#home .divider:last-child {
  flex: 1.3;
  background-color: var(--system-main-color);
}
main#home .divider .divider_container {
  height: 100%;
  width: 100%;
  max-width: var(--home-container-width);
  position: relative;
}
main#home .divider #hero_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main#home .divider #hero {
  position: absolute;
  padding: 5em;
  inset: 0;
  background-image: linear-gradient(to right, rgba(6, 5, 56, 0.8) 70%, var(--system-main-color));
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: end;
  align-items: center;
}
main#home .divider #hero h3 {
  font-size: 2rem;
}
main#home .divider #hero p {
  max-width: 400px;
  text-align: center;
  opacity: 0.8;
}
main#home .divider .form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  color: var(--system-main-color);
}
main#home .divider .form_container img {
  width: 80px;
}
main#home .divider .form_container h2 {
  font-size: 2rem;
  text-align: center;
}
main#home .divider .form_container p {
  max-width: 300px;
  text-align: center;
  color: inherit;
}
main#home .divider .form_container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 2em;
  color: var(--system-main-color);
}
main#home .divider .form_container ul li a {
  padding: 1.2em 0;
  background-color: white;
  width: 100vw;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: transform 0.2s ease;
}
main#home .divider .form_container ul li a:hover {
  outline: 2px solid var(--system-secondary-color);
  transform: scale(0.98);
}
main#home .divider .form_container .login_form {
  width: 100%;
  --form-width: 350px;
  max-width: var(--form-width);
  margin: 0 auto;
}
main#home .divider .form_container .login_form .form_group {
  margin-bottom: 1em;
  padding: 0 1em;
}
main#home .divider .form_container .login_form .form_group label {
  font-size: 0.8rem;
  color: rgb(71, 71, 71);
}
main#home .divider .form_container .login_form .form_group input {
  font-size: 1.2rem;
  padding: 0.6em 0.3em;
  border-radius: 5px;
  width: 100%;
}
main#home .divider .form_container .login_form .form_group input:focus {
  outline: 2px solid var(--system-secondary-color);
}
main#home .divider .form_container .login_form .form_group button {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.6em 0.3em;
  background-color: var(--system-secondary-color);
  text-transform: uppercase;
  color: var(--system-white-color);
  border-radius: 5px;
}
main#home .divider .form_container .login_form .form_group button:hover {
  background-color: var(--system-secondary-color-fade);
}
main#home .divider .form_container .login_form .feedback {
  text-align: center;
  color: var(--system-white-color);
  padding: 0.2em 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
main#home .divider .form_container .login_form .feedback.success {
  opacity: 1;
  background-color: var(--system-secondary-color);
}
main#home .divider .form_container .login_form .feedback.failure {
  opacity: 1;
  background-color: var(--alert-color);
}
main#home .divider .form_container .login_form.multistep {
  min-height: 250px;
}
main#home .divider .form_container .login_form.multistep #steps_container {
  width: var(--form-width);
  height: 100%;
  position: relative;
  overflow: hidden;
}
main#home .divider .form_container .login_form.multistep .step {
  flex-shrink: 0;
  width: var(--form-width);
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
}
main#home .divider .form_container .login_form.multistep .step .form_group:last-child {
  margin-top: auto;
}
main#home .divider .form_container .login_form.multistep #step2 {
  left: var(--form-width);
}
main#home .divider .form_container .login_form.multistep #step3 {
  left: var(--form-width);
}
main#home .divider .form_container .login_form.multistep .step #profile_image {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: var(--system-main-color);
  margin: 1em auto;
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid var(--system-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--system-white-color);
}
main#home .divider .form_container .login_form.multistep .step #profile_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
main#home .divider .form_container .login_form.multistep #image_picker {
  cursor: pointer;
}
main#home .divider .form_container .login_form.multistep #image_picker:hover {
  text-decoration: underline;
}
main#home .divider .form_container .login_form.multistep #dpInputFile {
  display: none;
}
main#home .divider .form_container .login_form.multistep .buttons {
  display: flex;
  gap: 0.5em;
}
main#home .divider .form_container .login_form.multistep .buttons button:nth-child(1) {
  flex: 1;
  background-color: gray;
}
main#home .divider .form_container .login_form.multistep .buttons button:nth-child(2) {
  flex: 3;
}

main#admin #guards {
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
}
main#admin #guards #pagetitle {
  color: rgb(68, 68, 68);
  margin-bottom: 1em;
  border-bottom: 2px solid gray;
}
main#admin #guards p#guardslist {
  font-size: 1.2rem;
  color: rgb(68, 68, 68);
  font-weight: bold;
  padding: 0.5em 0;
  box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
}
main#admin #guards #guards_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0.5em;
  padding-bottom: 5em;
}
main#admin #guards .empty {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 10px;
}
main#admin #guards .guard {
  background-color: var(--system-white-color);
  color: var(--system-main-color);
  padding: 0.8em 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
main#admin #guards .guard .guard_name {
  font-size: 1.1rem;
}
main#admin #guards .guard .guard_id {
  font-size: 0.8rem;
  color: gray;
}
main#admin #guards .guard:hover, main#admin #guards .guard:focus {
  outline: 2px solid var(--system-secondary-color);
}

main#guard #guard_info_container {
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
main#guard #guard_info_container .guard-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 0.3em;
}
main#guard #guard_info_container .guard-control .name {
  color: var(--system-main-color);
  font-weight: bold;
  font-size: 1.2rem;
}
main#guard #guard_info_container .guard-control .id {
  color: var(--system-main-color);
}
main#guard #guard_info_container #head {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.3);
}
main#guard #guard_info_container #head .image-container {
  width: 100px;
  height: 100px;
  background-color: var(--system-secondary-color);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--system-secondary-color);
}
main#guard #guard_info_container #head .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main#guard #guard_info_container #head ul.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}
main#guard #guard_info_container #head ul.buttons a {
  padding: 0.5em;
  width: 140px;
  border-radius: 3px;
  background-color: var(--system-main-color);
  background-color: var(--system-secondary-color);
  text-align: center;
}
main#guard #guard_info_container #head ul.buttons a:hover {
  background-color: var(--system-secondary-color-fade);
}
main#guard #guard_info_container #body {
  padding: 1em;
  height: 100%;
  overflow-y: scroll;
}
main#guard #guard_info_container #body .empty {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  display: flex;
  justify-content: center;
}
main#guard #guard_info_container #body .empty span {
  text-align: center;
  color: gray;
  margin-top: 5em;
}
main#guard #guard_info_container #body .log {
  background-color: white;
  border-radius: 5px;
  color: var(--system-main-color);
  padding: 1em 0.5em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
main#guard #guard_info_container #body .log_date {
  margin-bottom: 0.5em;
  border-bottom: 1px solid gray;
}
main#guard #guard_info_container #body .log_checkin, main#guard #guard_info_container #body .log_checkout {
  font-size: 0.8rem;
  color: gray;
}

main#settings form {
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
main#settings form h1 {
  margin-bottom: 1em;
  color: rgb(71, 71, 71);
}
main#settings form > div {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 0 1em;
}
main#settings form > div label {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(71, 71, 71);
}
main#settings form > div input {
  font-size: 1.2rem;
  padding: 0.6em 0.3em;
  border-radius: 5px;
}
main#settings form > div input:focus {
  outline: 2px solid var(--system-secondary-color);
}
main#settings form > div button {
  font-size: 1.2rem;
  padding: 0.6em 0.3em;
  background-color: var(--system-secondary-color);
  text-transform: uppercase;
  color: var(--system-white-color);
  border-radius: 5px;
}
main#settings form > div button:hover {
  background-color: var(--system-secondary-color-fade);
}
main#settings form > div .feedback {
  text-align: center;
  color: var(--system-white-color);
  padding: 0.2em 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
main#settings form > div .feedback.success {
  opacity: 1;
  background-color: var(--system-secondary-color);
}
main#settings form > div .feedback.failure {
  opacity: 1;
  background-color: var(--alert-color);
}

main#guard_dashboard .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
main#guard_dashboard .container > div:first-child {
  height: 90%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
main#guard_dashboard .container > div:first-child h1 {
  color: var(--system-main-color);
}
main#guard_dashboard .container > div:first-child p.id {
  color: var(--system-main-color);
}
main#guard_dashboard .container > div:first-child p.reminder {
  color: var(--alert-color);
}
main#guard_dashboard .container > div:first-child > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main#guard_dashboard .container > div:first-child > div button {
  padding: 1em 3em;
  font-size: 2rem;
  border-radius: 5px;
  background-color: var(--system-secondary-color);
  color: var(--white-color);
}
main#guard_dashboard .container > div:first-child > div button:hover {
  background-color: var(--system-secondary-color-fade);
}